<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>



  <%- include('./komponente/navbar') %>


  <h1>Moje narudzbe</h1>

  <br>
  <br>

  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Datum narudzbe</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <%for (let i=0; i<narudzbe.length; i++){%>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <h4></h4>
        </td>
        <td>
          <p><%= narudzbe[i].datum %><p>
        </td>
        <td>
          <h4><%= narudzbe[i].status %></h4>

        <td>
          <form action="/otkaziNarudzbu?id=<%=narudzbe[i].narudzba_id%>" method="post" name="otkazi">
            <input type="submit" value="Otkazi">
          </form>
        </td>


        </td>



      </tr>
    <%}%>
  </table>



  <script>
    function otvoriArtikal(id) {
      window.location = '/artikal/' + id ;
      //location.href = 'http://your.url.here';
    }
    function otvoriPretraguTrgovina() {
      window.location = '/pretragaTrgovina' ;
    }
    function otvoriNarudzbe() {
      window.location = '/narudzbe' ;
    }
    function otkaziNarudzbu(id) {
      window.location = '/otkaziNarudzbu/' + id ;
    }
  </script>
  </body>
</html>
